@font-face {
    font-family: "urbanist";
    src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Boldonse";
  src: url(../fonts/Boldonse/Boldonse-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nombre-Logo{
    font-family: "urbanist", sans-serif;
}

.placeholder-color::placeholder{
    color: rgb(187, 187, 187);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.logo-Urban-Nav{
    max-width: 60px;
}

.logo-Urban-Foot{
    max-width: 120px;
    
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .search-and-cart-icons {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
    order: 2; 
  }
  
  .search-and-cart-icons a {
    font-size: 1.1rem; 
  }
  
  .navbar-toggler {
    margin-left: 10px; 
  }
  
  @media (max-width: 992px) {
    .navbar-content {
      justify-content: flex-start; 
    }
  
    .navbar-toggler {
      margin-left: 0;
    }
  
    .search-and-cart-icons {
      order: -1; 
      margin-left: 10px;  
    }

    .search-and-cart-icons a {
        font-size: 1.5rem; 
      }
  }

  @media (min-width: 993px) {
    .navbar-content {
      justify-content: flex-end; 
    }
  
    .search-and-cart-icons {
      order: 2;
      margin-right: 20px;
    }
  }


  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 50px;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}



.carousel-item video {
    height: 800px;
    width: 100%;
    object-fit: cover;
}

.carousel-item img {
    height: 800px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
  .carousel-item video,
  .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;}
}


.titulos-cards-index {
  font-family: "Boldonse", sans-serif;
}

.span-cards {
  display: block;
  margin-top: 10px;
}


.card {
  background-color: #f8f9fa;
            display: flex;
            border-radius: 0px;
}

.card .card-link {
  margin-right: 0;
}

.product-img {
  max-width: 95px;
}

.titulos-cards-index {
  line-height: 1.5; 
}



.card-hover-1 {
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent;
}

.card-hover-1:hover {
  border: 2px solid white;
}


.card-hover-2 {
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent;
}

.card-hover-2:hover {
  border: 2px solid black;
}

.product-img-second {
  max-width: 100px;
}

.product-img-third {
  max-width: 70px;
}

.btn-explora-mas{
  border-radius: 0px;
}

.btn-explora-mas {
  transition: all 0.3s ease-in-out;
}

.btn-explora-mas:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
  border-color: white;
}


.card-outfit {
  width: 400px;
  position: relative;
  height: auto;
}


.card-outfit {
  position: relative;
}

.card-outfit:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid black;
  pointer-events: none;
}


.btn-comprar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  width: auto;
  cursor: pointer;
  text-align: center;
}


.service-icon {
  font-size: 7vh;
}


.img-logo-reseña {
  border-radius: 50%;
  max-width: 20vh;
}




.page_404 {
  padding: 40px 0;
  font-family: "urbanist", sans-serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background: url("../img/error404.gif");
  height: 600px;
  background-position: center;
}

.titulo404 {
  font-size: 80px;
}

.subtitle404 {
  font-size: 80px;
}


.inicio404 {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #39ac31;
  display: inline-block;
}

.content_box_404 {
  margin-top: -50px;
}

.inicio404:hover {
  text-decoration: none;
  color: #fff;
}